:root {
    --nav-width: 1024px;
    --main-width: 720px;
    --background: rgb(15, 15, 15);
    --primary: rgb(220, 220, 220);
    --secondary: rgb(255, 100, 100);
    --line-height: 1.5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--nav-width);
}

nav a {
    color: var(--primary);
}

body {
    background-color: var(--background);
    color: var(--primary);
    line-height: var(--line-height);
    font-family: system-ui, -apple-system, sans-serif;
    max-width: var(--main-width);
    padding: 2rem;
    font-size: 1.4rem;
    margin: 0 auto;
}

h1 {
    line-height: calc(4rem / var(--line-height));
}

img {
    max-width: 100%;
}

a {
    color: var(--secondary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.profile {
    text-align: center;
    align-items: center;
    padding: 2rem;
}

.profile p {
    margin: 0;
}

.profile img {
    border-radius: 50%;
    padding: 1rem;
}

footer {
    text-align: center;
    font-size: calc(1.5rem / var(--line-height));
}
