.dark {
    --theme: rgb(15, 15, 15);
    --primary: rgb(220, 220, 220);
    --secondary: rgb(150, 150, 150);
    --tertiary: rgb(90, 90, 90);
    --content: rgb(195, 195, 195);
    --hljs-bg: rgb(46, 46, 46);
    --code-bg: rgb(55, 55, 55);
    --border: rgb(100, 100, 100);
}
