---
layout: default
---

<h1>David Gasquez</h1>

<img src=avatar.jpg alt="Profile Picture" height=250 width=250>

<p>Learning about anything and everything all of the time.</p>
<p>Passionate about Data and Open Source. Did some data stuff @protocollabs, @buffer.</p>
