<!doctype html>

<html lang=en dir=auto>
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <title>David Gasquez</title>
        <link rel=canonical href=https://davidgasquez.github.io/>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href=/blog>Blog</a>
                <a href=https://publish.obsidian.md/davidgasquez>Handbook</a>
            </nav>
        </header>

        <main>
            <h1>{{ title }}</h1>
            {{ content | safe }}
        </main>

        <footer>
            <p> &copy; 2023 <a href="/">David Gasquez</a>
            </p>
        </footer>
    </body>

</html>
