---
import Layout from "../layouts/Base.astro";
---

<Layout title="404 | David Gasquez" description="Page not found">
  <div class="container py-xl text-center">
    <h1 class="mb-md">Not found</h1>
    <p class="mb-lg">The page you requested does not exist (for now)!</p>
    <p>
      <a class="accent-link" href="/">Return Home</a>
    </p>
  </div>
</Layout>
