---
import Layout from "../layouts/Base.astro";

import { Image } from "astro:assets";
import avatar from "../assets/avatar.jpg";
---

<Layout>
  <div class="container py-xl">
    <div class="text-center mb-xl">
      <Image src={avatar} alt="David" class="mx-auto rounded-full mb-lg" height={150} width={150} />
    </div>

    <section class="mb-xl">
      <h2 class="font-semibold text-2xl mb-md">About</h2>
      <p>Passionate about data, open source and distributed/decentralized systems.</p>
      <p>
        Currently working on data stuff at <a class="accent-link" href="https://protocol.ai/">Protocol Labs</a>.
        Previously did some data stuff at <a class="accent-link" href="https://buffer.com/">Buffer</a>.
      </p>

      <p>
        I maintain a <a href="/handbook" class="accent-link">Handbook</a> where I share everything I've learned over the
        years.
      </p>
    </section>

    <section class="mb-xl">
      <div class="text-center my-lg">
        <a class="accent-link" href="https://twitter.com/davidgasquez/" target="_blank" title="Twitter">Twitter</a>
        ·
        <a class="accent-link" href="https://github.com/davidgasquez/" target="_blank" title="Github">GitHub</a>
        ·
        <a class="accent-link" href="https://www.linkedin.com/in/davidgasquez/" target="_blank" title="Linkedin"
          >LinkedIn</a
        >
        ·
        <a class="accent-link" href="https://bsky.app/profile/davidgasquez.com" target="_blank" title="Bluesky"
          >Bluesky</a
        >
        ·
        <a class="accent-link" href="mailto:davidgasquez@gmail.com" target="_blank" title="Email">Email</a>
        ·
        <a class="accent-link" href="https://open.spotify.com/user/kalendos" target="_blank" title="Spotify">Spotify</a>
      </div>
    </section>

    <section class="mb-xl">
      <h2 class="font-semibold text-2xl mb-md">Interests</h2>
      <ul class="list-inside list-disc">
        <li>Data</li>
        <li>Open Source, Open Data, Open Science</li>
        <li>Decentralized and Permissionless Systems</li>
        <li>Tools for Thought</li>
        <li>Local First</li>
        <li>Online FPS / Strategy Games</li>
        <li>Progressive Metal</li>
      </ul>
    </section>
  </div>
</Layout>
