---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <h1>David Gasquez</h1>

    <p>This is the link to <a href="/brain/memo">memo</a></p>
  </body>
</html>
