---
import Layout from "../layouts/Base.astro";

import { Image } from "astro:assets";
import avatar from "../assets/avatar.jpg";

import { getCollection } from "astro:content";
const blogEntries = await getCollection("blog");
blogEntries.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout>
  <div class="container text-center text-lg py-xl">
    <Image src={avatar} alt="David" height={220} width={220} loading="eager" class="mx-auto avatar-hex mb-lg" />

    <p class="mb-sm">Data at <a class="accent-link" href="https://protocol.ai/">Protocol Labs</a></p>

    <p>Learning about anything and everything all of the time.</p>

    <div class="my-lg">
      <a class="accent-link" href="https://x.com/davidgasquez" target="_blank" title="X">X</a>
      ·
      <a class="accent-link" href="https://github.com/davidgasquez/" target="_blank" title="Github">GitHub</a>
      ·
      <a class="accent-link" href="https://www.linkedin.com/in/davidgasquez/" target="_blank" title="Linkedin"
        >LinkedIn</a
      >
      ·
      <a class="accent-link" href="https://bsky.app/profile/davidgasquez.com" target="_blank" title="Bluesky">Bluesky</a
      >
      ·
      <a class="accent-link" href="mailto:davidgasquez@gmail.com" target="_blank" title="Email">Email</a>
      ·
      <a class="accent-link" href="https://cal.com/davidgasquez" target="_blank" title="Meet">Meet</a>
      ·
      <a class="accent-link" href="https://open.spotify.com/user/kalendos" target="_blank" title="Spotify">Spotify</a>
    </div>
  </div>

  <div class="prose home-posts">
    <h3 class="text-2xl">Posts</h3>
    <ul class="list-none">
      {
        blogEntries.map((blogPostEntry) => (
          <li>
            <time datetime={blogPostEntry.data.date.toISOString()}>
              {blogPostEntry.data.date.toISOString().split("T")[0]}
            </time>{" "}
            — <a href={`${blogPostEntry.id}`}>{blogPostEntry.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
