<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style is:global>
      body {
        color: #24292e;
        line-height: 1.5;
        font-family: Inter;
        font-size: 14px;
        word-wrap: break-word;
        max-width: 800px;
        margin: 60px auto;
        padding: 0 60px;
      }

      a {
        color: #770000;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: 600;
        line-height: 1.25;
        margin-bottom: 16px;
        margin-top: 24px;
      }

      h1 {
        font-size: 2em;
      }

      h1,
      h2 {
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 0.3em;
      }

      h2 {
        font-size: 1.5em;
      }

      h3 {
        font-size: 1.25em;
      }

      h4 {
        font-size: 1em;
      }

      h5 {
        font-size: 0.875em;
      }

      h6 {
        color: #6a737d;
        font-size: 0.85em;
      }

      ol,
      ul {
        padding-left: 2em;
      }

      li {
        word-wrap: break-all;
      }

      li + li {
        margin-top: 0.25em;
      }
    </style>
    <title>David Gasquez</title>
  </head>

  <body>
    <h1>David Gasquez</h1>

    <p>
      Engineer passionate about data, open source, and distributed/remote teams. Helping people coordinate better
      through data at <a href="https://protocol.ai/">Protocol Labs</a>.
      <br />
    </p>
    <p>
      <a href="https://davidgasquez.github.io/">Website</a> -
      <a href="https://github.com/davidgasquez">GitHub</a> -
      <a href="https://twitter.com/davidgasquez">Twitter</a> -
      <a href="https://www.linkedin.com/in/davidgasquez/">LinkedIn</a> -
      <a href="mailto:davidgasquez@gmail.com">Email</a>
    </p>

    <h2>Experience</h2>
    <ul>
      <li>
        <strong><a href="https://protocol.ai/">Protocol Labs</a>: Sr. Data Engineer</strong>. (2022-03 - Now)
        <br />
        Built, run and maintain Protocol Labs' Data Platorm. This includes:
        <ul>
          <li>Provide reliable and scalable data platform to support the ecosystem needs.</li>
          <li>Create scalable data pipelines for Filecoin chain data (handling hundreds of gigabytes per day).</li>
          <li>Maintain and improve the data models of the organization (dbt).</li>
          <li>
            Collaborate and improve the infrastructure (GCP, Kubernetes) and Orchestration (ArgoCD, Dagster) layers.
          </li>
          <li>
            Built <a href="https://github.com/davidgasquez/filecoin-data-portal/">
              multiple open data portals aligned with the company ethos</a
            > that are used by the community.
          </li>
        </ul>
      </li>
      <li>
        <strong><a href="https://buffer.com">Buffer</a>: Sr. Data Engineer</strong>. (2017-05 - 2022-03)
        <br />
        Evolved Buffer's data architecture and tools to make data actionable. Overall, supported data needs at multiple levels
        by:
        <ul>
          <li>
            Architecting and migrating Buffer data platform to a <a
              href="https://www.speedwins.tech/posts/data-at-buffer-with-david-gasquez">modern one</a
            >. This involved migrating both databases and services to GCP with no downtime and reduced costs
            considerably.
          </li>
          <li>
            Building tools and new processes to smooth data engineering. Many of these tools (<a
              href="https://pypistats.org/packages/kiner">kiner</a
            >,
            <a href="https://pypistats.org/packages/stacklogging">stacklogging</a>, ...) are open source and still used
            across the world.
          </li>
          <li>
            Improving UX for data scientist (<a
              href="https://github.com/davidgasquez?tab=repositories&q=dbt&type=&language=&sort="
              >dbt local setup, CI/CD</a
            >, tests, modeling best practices).
          </li>
          <li>
            Making reusable components to help with deeper analysis (survival curves, event based analytics and product
            analytics).
          </li>
          <li>Iterating data gobernance best practices.</li>
        </ul>
      </li>
      <li>
        <strong><a href="https://buffer.com">Buffer</a>: Data Analyst</strong>. (2016-01 - 2017-05)
        <br />
        Used data to help understand business problems and answer stakeholder's questions. Built a new Docker based Analytics
        stack to make analysis reproducible and improve developer experience.
      </li>
      <li>
        <strong><a href="https://nucleoo.com">Nucleoo</a>: Software Developer</strong>. (2015-04 - 2016-01) <br />
        Mostly did back-end developer in a business intelligence application. Focused on Data Analysis and Machine Learning,
        which were used to forecast promotion sales and provide useful reports to clients. Worked with Flask, MongoDB, pandas,
        numpy and scikit-learn among others python tools and frameworks to provide a reliable analytics application.
      </li>
    </ul>

    <h2>Skills</h2>
    <ul>
      <li>
        <strong>Data</strong>: Python, SQL, dbt, BI (Looker, Metabase, Redash), Data Warehouses (BigQuery, Snowflake),
        ETL (Singer/Airbyte connectors, custom scripts), Orchestration (Dagster, Argo, Airflow).
      </li>
      <li><strong>Infrastructure</strong>: GCP, AWS (S3, Glue, Lambda, Kinesis), Docker, Kubernetes, Terraform.</li>
      <li><strong>Machine Learning</strong>: Scikit Learn, transformers, Kubeflow, XGBoost,</li>
    </ul>

    <h2>Projects</h2>
    <ul>
      <li>
        <strong
          ><a href="https://www.speedwins.tech/posts/data-at-buffer-with-david-gasquez">
            Building a Modern Data Stack</a
          ></strong
        >: Interview where I share my experience while rearchitecting Buffer's data platform.
      </li>
      <li>
        <strong><a href="https://davidgasquez.github.io/datadex/"> Datadex</a></strong>: Data platform where people can
        collaborate on Open Data using modern open source tools and frameworks.
      </li>
      <li>
        <strong><a href="https://buffer.com/resources/predicting-churn/"> Churn Prediction </a></strong>: Predicting
        when users are going to churn, 1 month in advance. A similar model was used for Trial Conversion. This helped to
        increased awareness about Survival Analysis and Causal Impact at the company.
      </li>
      <li>
        <strong><a href="https://godatathon.com/"> Novartis Datathon Winner </a></strong>: First position on the
        Novartis weekend long data science challenge on financial data.
      </li>
      <li>
        <strong><a href="https://publish.obsidian.md/davidgasquez/Data/Data+Culture"> Data Handbook </a></strong>:
        Evergreen notes about data, teamwork and life in general.
      </li>
      <li>
        <strong><a href="https://datonic.io/"> Datonic</a></strong>: Aiming to improve the way the world produces,
        share, consume and collaborate on datasets.
      </li>
      <li>
        <strong><a href="https://github.com/bufferapp/cricket"> Toxic Comment Detection </a></strong>: Small API to
        detect toxic comments. Used to detect the perceived impact of a comment in real time and alert for possible
        SPAM.
      </li>
      <li>
        <strong><a href="https://github.com/bufferapp/hashy"> Hashtag Recommendations </a></strong>: Built a hashtag
        recommendation engine using embeddings and provided an API to get recommendations on the fly. Trained on the
        cloud using GCP Vertex AI.
      </li>
      <li>
        <strong><a href="https://github.com/davidgasquez/kaggle-airbnb"> Kaggle Bronze Medalist </a></strong>: Ended
        Airbnb Kaggle competition in the top 5% with a simple approach focusing on the data preprocessing instead of
        using a complex model.
      </li>
      <li>
        <strong> Data Streaming Tooling </strong>: Built some tools to help with a <a
          href="https://github.com/bufferapp/README/tree/master/teams/data/docs/buda"
        >
          data streaming architecture
        </a>. The most popular being <a href="https://github.com/bufferapp/kiner">kiner</a>, a Python AWS Kinesis
        producer with multiple features.
      </li>
    </ul>

    <h2>Education</h2>
    <ul>
      <li>
        Bachelor's Degree in Computer Science. <strong> UGR </strong>. <em> (2011 - 2017) </em>
      </li>
    </ul>
  </body>
</html>
