---

---

<nav class="flex items-center justify-between">
  <div class="flex items-center text-white mr-6">
    <span class="font-semibold text-xl">
      <a href="/">David Gasquez</a>
    </span>
  </div>

  <div>
    <div>
      <a
        href="https://publish.obsidian.md/davidgasquez"
        target="_blank"
        class="text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-yellow-500 hover:text-yellow-500"
        >Handbook</a
      >
    </div>
  </div>
</nav>
