---
import HandbookLayout from "../../layouts/Handbook.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const handbookEntries = await getCollection("handbook");
  return handbookEntries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<HandbookLayout currentSlug={entry.id}>
  {entry.data.title && <h1 class="pt-6">{entry.data.title}</h1>}
  <Content />
</HandbookLayout>
