:root {
    --main-width: 720px;
    --background: rgb(15, 15, 15);
    --primary: rgb(220, 220, 220);
    --secondary: rgb(255, 100, 100);
    --line-height: 1.5;
}

body {
    background-color: var(--background);
    color: var(--primary);
    line-height: var(--line-height);
    font-family: system-ui, -apple-system, sans-serif;
    padding: 2rem;
    font-size: 1.4rem;
    margin: 0 auto;
    max-width: var(--main-width);
}

nav {
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    justify-content: space-between;
}

a {
    color: var(--secondary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.profile {
    text-align: center;
    align-items: center;
    margin-top: 4rem;
}

.profile p {
    margin: 0.2rem 0;
}

.profile img {
    border-radius: 50%;
    padding: 1rem;
}

footer {
    margin-top: 4rem;
    text-align: center;
    font-size: 1rem;
}
