---
import Navigation from "../components/Navigation.astro";
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en" class="dark bg-slate-950 text-slate-100 text-lg font-sans antialiased p-6 mx-auto max-w-prose">
  <Head />

  <body>
    <header>
      <Navigation />
    </header>

    <main class="prose dark:prose-invert">
      <slot />
    </main>

    <Footer />
  </body>
</html>
