---
import BaseHead from "../components/BaseHead.astro";
import "../styles/global.css";

const { title, description, image } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">David Gasquez</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li class="nav-right">
            <a href="/handbook">Handbook</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>
        © {new Date().getFullYear()} David Gasquez | <a href="/rss.xml">RSS</a>
      </p>
    </footer>
  </body>
</html>
