---
import BaseHead from "../components/BaseHead.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <div>
            <li>
              <a href="/">David Gasquez</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
          </div>
          <li>
            <a href="/handbook">Handbook</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>© 2024 David Gasquez</p>
    </footer>
  </body>
</html>
